<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    
    </ion-buttons>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://scontent.frns1-1.fna.fbcdn.net/v/t1.6435-1/p200x200/90269929_1936643299813044_873546771198902272_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=7206a8&_nc_ohc=RK3FCpNjwhUAX_29pxa&_nc_ht=scontent.frns1-1.fna&oh=00_AT_HG_ZbZwswYrHyc-DIcwnal9f8WAZ6uDskgzM8zciLYw&oe=622A2988" alt="">
      </ion-avatar>
      <ion-label>
        <h2>Sahel Julienne</h2>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-content>
