<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>ArtSpot</ion-list-header>
          <ion-note>Trouvez des trésorts près de chez vous</ion-note>
          <br>
          <ion-button routerLink='/' color="dark" fill="clear" href="#" expand="block" class="menu_button">accueil</ion-button>
          <ion-button color="dark" fill="clear" href="#" expand="block" class="menu_button">ajouter une oeuvre</ion-button>
          <ion-button routerLink='/login' color="dark" fill="clear" href="#" expand="block" class="menu_button">profil</ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
